:root {
    --black: #11151f;
    --dark-grey: #d4d4d4;
    --grey-blue-hover: #283040;
    --grey-blue: #374456;
    --mid-grey: #f1f1f1;
    --white: #fcfcfc;
    --yellow: #e5b261;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
}

.hero-image {
    height: 100vw;
    background-image: url(../img/work-at-home-with-pets.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 600px;
}

.container {
    min-width: 280px;
    max-width: 650px;
    margin: 1rem;
    border-radius: 0;
    overflow: hidden;
    background: var(--mid-grey);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.container .try-free {
    background-color: var(--yellow);
    color: var(--white);
    text-align: center;
    padding: 1rem;
} 

.container > form {
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    color: var(--black);
    padding: 1rem 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: flex-start;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    width: 100%;
    padding-bottom: 15px;
}

.input-box input,
.input-box select {
    height: 2rem;
    width: 95%;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-grey);
}

.input-box label {
    height: 2rem;
}

.alert p {
    font-size: 1rem;
    text-align: center;
    color: var(--black);
    margin: 0.5rem 0;
    padding: 1rem 0;
    line-height: 1.5;
}

.alert a {
    text-decoration: underline;
    color: var(--black)
}

.alert a:hover {
    font-weight: bold;
}

.button-container {
    margin: 1rem 0;
}

.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 1rem;
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    background-color: var(--grey-blue);
    cursor: pointer;
    transition: .3s;
}

.password-minlength {
    font-size: 0.75rem;
}

header {
    padding: 1rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.hero-image {
    padding: 2rem;
}

.logo img {
    width: 2rem;
    display: unset;
}

.logo-text {
    color: var(--white);
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--black);
}



/*
<div class="logo">
            <img src="./img/logo.svg" alt="logo of mountains">
            <span class="logo-text">remote.ly</span>
        </div>
*/

@media(min-width: 550px){
    .input-box {
        width: 50%;
    }
}

@media(min-width: 820px){
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* ON YOUR OWN

    Write a special media query that only applies to the two smallest screen sizes. In these layouts, the brand (the logo and name of the company should):

    1. be positioned at the top of the page
    2. have white text
    3. have a drop-shadow on the text

*/

/*
media queries: 600px, 820px, 1000px
*/